@model IPagedList<MvcMovie.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</p>

@using (Html.BeginForm("Index", "Person", FormMethod.Get, new { id = "form1" }))
{
    <div class="row mb-3">
        <div class="col-md-10">
            @Html.PagedListPager(
                Model,
                page => Url.Action("Index", new { page = page, PageSize = ViewBag.psize }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" }
                }
            )
        </div>
        <div class="col-md-2">
            @Html.DropDownList("PageSize", ViewBag.PageSize as SelectList, null, new { @class = "form-select", id = "pageSize" })
        </div>
    </div>
}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Address)</th>
            <th>@Html.DisplayNameFor(model => model.First().Age)</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.PersonId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PersonId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#pageSize").change(function () {
                $("#form1").submit();
            });
        });
    </script>
}
